/* Color Palette
   Red :  #FF5656 
   Slate : #EDF2F6
   Blue : #6A7EFC
   Black : #494953 
*/

/* Set the height of html and body to 100% and define background color */
html, body {
   height: 100%;
   background-color: #f2f8fbe0; /* Light background color */
}

/* Link styles */
a {
   text-decoration: none; /* Remove underline from links */
   color: #494953; /* Set link color to dark gray */
   user-select: none; /* Prevent text selection on links */
}

/* Disable text selection for certain elements */
p, h1, h2, h3, h4, h5, h6, img {
   user-select: none; /* Prevent text selection */
}

/* Set background color for elements with the class 'bg-slate' */
.bg-slate {
   background-color: #f8fbfd !important; /* Light slate background */
}

/* Change background color of nav-links on hover */
.nav-link:hover {
   background-color: #49495314; /* Light gray background on hover */
}

/* Active class for currently selected links */
.active {
   background-color: #c9e8ff; /* Light blue background for active link */
}

/* Content area styles */
.content-area {
   background-color: white; /* White background for content area */
   overflow-y: scroll; /* Enable vertical scrolling */
   border-radius: 20px; /* Rounded corners */
}

/* Styles for file list tiles */
.file-list-tile {
   width: 60%; /* Set width of file list tiles */
   border-bottom: 1px solid #494953b3; /* Bottom border with slight transparency */
}

/* Change background color of file list tiles on hover */
.file-list-tile:hover {
   background-color: #f2f9ff; /* Light blue background on hover */
}

/* File tile styles */
.file-tile {
   margin-bottom: 1rem; /* Space below each file tile */
}

/* Change background color of file tiles on hover */
.file-tile:hover {
   background-color: #f2f9ff !important; /* Light blue background on hover */
   border: 0.1px solid #c9e8ff; /* Add a light blue border */
}

/* Button hover effects */
.button:hover {
   background-color: #00000016; /* Very light black background on hover */
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05); /* Subtle shadow effect */
}

/* Set width for the inner div of file tiles */
.file-tile > div {
   width: 165px; /* Fixed width for the inner div */
}

/* Set styles for paragraph inside anchor tags in file tiles */
.file-tile > div > a > p {
   max-width: 100px; /* Maximum width for the text */
   text-wrap: nowrap; /* Prevent text wrapping */
   overflow-x: hidden; /* Hide overflow text */
}

/* Styles for page title */
.page-title {
   font-size: x-large; /* Large font size */
   width: fit-content; /* Fit content width */
   padding: 0.4rem 1.2rem; /* Padding for spacing */
   font-weight: 500; /* Medium font weight */
   margin-bottom: 1rem; /* Margin below the title */
   background-color: #f8fbfd; /* Light slate background */
   transition: 0.2s ease; /* Smooth transition effect */
}

/* Change background color of page title on hover */
.page-title:hover {
   background-color: #e5f4ff; /* Light blue background on hover */
}

/* Styles for favorites tile */
.favourites-tile {  
   min-width: 23.5%; /* Minimum width for favorites tile */
   margin-right: 0.5rem; /* Right margin */
   background-color: #f8fbfd; /* Light slate background */
   padding: 1.2rem; /* Uniform padding */
   display: flex; /* Flexbox for layout */
   margin-bottom: 1rem; /* Margin below favorites tile */
}

/* Change background color of favorites tile on hover */
.favourites-tile:hover {
   background-color: #f2f9ff; /* Light blue background on hover */
   border: 0.1px solid #c9e8ff; /* Add a light blue border */
}

/* Styles for folder tile */
.folder-tile {  
   display: flex; /* Flexbox for layout */
   flex-direction: column; /* Arrange items in a column */
   border-radius: 1rem; /* Rounded corners */
   background-color: #f8fbfd; /* Light slate background */
   padding: 1rem 1.5rem; /* Padding for spacing */
   margin-bottom: 2rem; /* Margin below folder tile */
   margin-top: 1rem; /* Margin above folder tile */
   height: fit-content; /* Adjust height based on content */
}

/* Change background color of folder tile on hover */
.folder-tile:hover {
   background-color: #f2f9ff; /* Light blue background on hover */
   border: 0.1px solid #c9e8ff; /* Add a light blue border */
}

/* Styles for folder locator */
.folder-locator {
   padding: 0.4rem 0.9rem; /* Padding for spacing */
   border-radius: 1rem; /* Rounded corners */
   background-color: #f8fbfd; /* Light slate background */
   font-weight: 500; /* Medium font weight */
   width: fit-content; /* Fit content width */
   margin-top: 0.3rem; /* Margin above folder locator */
}

/* Change background color of folder locator on hover */
.folder-locator:hover {
   background-color: #e5f4ff; /* Light blue background on hover */
}

/* Empty classes for potential future use */
.folder-view-container {
}
.folder-list-container {
}

/* Media query for responsive design */
@media (max-width: 768px) {
   .content-area {
      border-radius: 0px; /* Remove border radius on smaller screens */
      overflow-y: scroll !important; /* Ensure scrolling is enabled */
   }
   .file-list-tile {
      width: 90%; /* Wider file list tiles on smaller screens */
      border-bottom: 1px solid #494953b3; /* Maintain border style */
   }
   .file-tile > div > a > p {
      max-width: 80px; /* Adjust maximum width for text */
      text-wrap: nowrap; /* Prevent text wrapping */
      overflow-x: hidden; /* Hide overflow text */
   }
   .file-tile > div {
      width: 145px; /* Adjust width for the inner div */
   }
   .favourites-tile {
      width: 95%; /* Wider favorites tile on smaller screens */
   }
   .items-space {
      justify-items: left; /* Align items to the left */
   }
}  